<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <form method="post" th:action="@{/contact/add/{id}(id=*{contact != null}? *{contact.id} : '')}">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName" th:value="*{contact != null}? *{contact.firstName} : ''"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName" th:value="*{contact != null}? *{contact.lastName} : ''"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" th:value="*{contact != null}? *{contact.email} : ''"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" th:value="*{contact != null}? *{contact.phone} : ''"><br>
        <input type="submit" value="Submit">
    </form>
    <p th:text="${message}"></p>
</body>
</html>